{%extends "base.html.twig"%}
{% block title %}
	Home
{% endblock %}

{% block body %}
	{% if event|length>0 %}
		{% for event in event %} <!--Boucle qui affiche tous les events de la BDD -->
			<h2><a href="{{path('show',{'id':event.id})}}">{{event.title}}</a></h2>
			<p>{{event.description}}</p>
			<p>{{event.dateEvent|date('Y-m-d')}}</p>
		{%endfor%}
	{% else %}
		<p>Oh grand roi pogo dis nous comment nous comporter</p>
	{% endif %}

{% endblock %}
