body{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

article{
  background-color: black;
  border-radius:10px;
}
article p{
  color:white;
}
body.dark {
    color: #fff!important;
    background: #333!important;
}
body.dark article{
  background-color: white;

}
body.dark article p{
  color:black;
}
.btn-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius:10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FC1E1E;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FC1E1E;
  color: white;
}

